# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.dgen.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\unity\datasetGenerator\dgen\.idea\.idea.dgen\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
