# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.datasetGenerator.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\unity\datasetGenerator\.idea\.idea.datasetGenerator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
